## Pandas - Series

Series in Pandas is just like a NumPy array. The only difference that lies here is that Series can have axis labels. Some data / object having an axis label means to say that it can be indexed by a label (which could essentially be anything you want) instead of the traditional 0 number indexing in Python. A series can also hold any arbitrary Python object or a collection of objects.

In [69]:

import numpy as np
import pandas as pd

# we could essentially convert a list, numpy array or a dictionary into a Pandas series

keys = ['a', 'b', 'c'] # a regular Python list
ls = [10, 20, 30] # a regular Python list
arr = np.array(ls) # a numpy array
d = {'a':10, 'b':20, 'c':30} # a Python dictionary

# creating Pandas series using a list
seriesListRegularIndexing = pd.Series(data=ls) # Series created will have traditional 0 based indexing
print("Pandas Series using List (Traditional Index) - \n", seriesListRegularIndexing)
seriesListCustomIndexing = pd.Series(data=ls, index=keys) # Series created will have indexing as specified in list Keys
print("\nPandas Series using List (Custom Index) - \n", seriesListCustomIndexing)

# creating Pandas series using a NumPy array
seriesArrayRegularIndexing = pd.Series(data=arr) # Series created will have traditional 0 based indexing
print("\nPandas Series using NumPy Array (Traditional Index) - \n", seriesArrayRegularIndexing)
seriesArrayCustomIndexing = pd.Series(data=arr, index=keys) # Series created will have indexing as specified in list Keys
print("\nPandas Series using NumPy Array (Custom Index) - \n", seriesArrayCustomIndexing)

# creating Pandas series using a Python Dictionary
# by default in creation of Series using a Dictionary, the keys are mapped to the index and values as the the actual elements of the series
seriesDict = pd.Series(data=d) # Series created will have traditional 0 based indexing
print("\nPandas Series using Dictionary - \n", seriesDict)

Pandas Series using List (Traditional Index) -
 0    10
1    20
2    30
dtype: int64

Pandas Series using List (Custom Index) -
 a    10
b    20
c    30
dtype: int64

Pandas Series using NumPy Array (Traditional Index) -
 0    10
1    20
2    30
dtype: int32

Pandas Series using NumPy Array (Custom Index) -
 a    10
b    20
c    30
dtype: int32

Pandas Series using Dictionary -
 a    10
b    20
c    30
dtype: int64

## Pandas - DataFrames

A Pandas DataFrame is just another bunch of series objects, put together to share a same index.

In [70]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)

df = pd.DataFrame(data=randn(5,4), index=['A','B','C','D','E'], columns=['W','X','Y','Z'])
print("Basic DataFrame - \n\n", df)

# Selection and Indexing of DataFrames

# df['W'] # to access the W column, which is actually a series by itself
print("\n\nSelecting single column (W) - \n\n", df['W'])

# df[['W','Z']] to access multiple columns, W and Z
# basically to access multiple columns, pass their names as a list
print("\n\nSelecting two columns (W and Z) - \n\n", df[['W', 'Z']])

# creating / adding columns
df['newColumn (adding W and Z)'] = df['W'] + df['Z']
print("\n\nAfter adding new column - \n\n", df)

# removing columns and rows
# axis=1 has to be specified while removing a column since by default axis=0 is set which points to the index vales and not the column values
# unless specified inplace=True, Pandas does not delete the column in the original DataFrame
df.drop('newColumn (adding W and Z)', axis=1)
print("\n\nColumn not deleted in original DataFrame - \n\n", df)
df.drop('newColumn (adding W and Z)', axis=1, inplace=True)
print("\n\nColumn deleted in original DataFrame - \n\n", df)
# in a similar way rows also could be deleted
# but for rows, axis=0 since rows technically are on the indices side of the DataFrame
df.drop('E', axis=0, inplace=True)
print("\n\nRow E has been removed from original DataFrame - \n\n", df)

# selecting rows from a DataFrame has two methods
# Method 1 is using the loc function, wherein you pass the name of the row you wish to select
# Method 2 is using the iloc function, where you pass the numeric index of the row you wish to select (regular 0 indexing followed)
print("\n\nSelecting row A using loc - \n\n", df.loc['A'])
print("\n\nSelecting row A using iloc - \n\n", df.iloc[0])
# one conclusion we come to is that, even rows are Pandas Series objects

# a subset of rows and columns could also be accessed using the NumPy comma notation we saw in the NumPy section
print("\n\nAccessing data at row B and column Y - ", df.loc['B', 'Y'])
print("\n\nAccessing data in rows A and B with columns W and Y - \n\n", df.loc[['A', 'B'], ['W', 'Y']])

# Conditional Selection
print("\n\nDataFrame where values are greater than 0 - \n\n", df>0)
print("\n\nTo the above boolean DataFrame, here we get vales only to the True correspondent and None / NaN at the False ones - \n\n", df[df>0])
# now certain operation could additionally be performed on Conditionally Selected DataFrames
print("\n\nSome Operations of Conditionally selected DataFrame - \n\n", df[df['W']>0]['Y'])
print("\n\nSome Operations of Conditionally selected DataFrame - \n\n", df[df['W']>0][['Y', 'X']])
# for multiple conditions, we can use logical (NOT REALLY) operators as well
# the operator for and = &
# the operator for or = |
print("\n\nSome Operations of Conditionally selected DataFrame - \n\n", df[(df['W']>0) & (df['Y'] > 1)])

# more on Indexing
# to reset to default index (0 based indexing), use the reset_index() method
# the reset_index() method does not do the changes in place and it also makes your previous indexes as a new column with column name 'index'
print("\n\nUsing reset_index() function - \n\n", df.reset_index())
# to set the index to something else which you want to specify, use the set_index() method
# again index changes by default are not done in place
# in order to do this, you will have to add that particular index column to your DataFrame first
newIndices = ["CA", "NY", "WY", "CO"]
df["Country Codes"] = newIndices
print("\n\nUsing set_index() function - \n\n", df.set_index("Country Codes"))

# Multi-Index, Index Hierarchy and Multi-Level DataFrames
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
df = pd.DataFrame(data=randn(6,2), index=hier_index, columns=['A', 'B'])
print("\n\nMulti-Level DataFrame - \n\n", df)
print("\n\nIndex Labels by default - ", df.index.names)
# setting index labels
df.index.names = ['Groups', 'Num']
print("\n\nIndex Labels after setting - ", df.index.names)
print("\n\nDataFrame - \n\n", df)
print("\n\nAccessing Cross Section of DataFrame where index label in Num and we want to access the values corresponding the index=1 - \n\n", df.xs(1,level='Num'))

Basic DataFrame -

           W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509


Selecting single column (W) -

 A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64


Selecting two columns (W and Z) -

           W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509


After adding new column -

           W         X         Y         Z  newColumn (adding W and Z)
A  2.706850  0.628133  0.907969  0.503826                    3.210676
B  0.651118 -0.319318 -0.848077  0.605965                    1.257083
C -2.018168  0.740122  0.528813 -0.589001                   -2.607169
D  0.188695 -0.758872 -0.933237  0.955057                    1.143752
E  0.190794  1.978757  2.605967  0.683509                    0.874303


Column not deleted in original DataFrame -

           W         X         Y         Z  newColumn (adding W and Z)
A  2.706850  0.628133  0.907969  0.503826                    3.210676
B  0.651118 -0.319318 -0.848077  0.605965                    1.257083
C -2.018168  0.740122  0.528813 -0.589001                   -2.607169
D  0.188695 -0.758872 -0.933237  0.955057                    1.143752
E  0.190794  1.978757  2.605967  0.683509                    0.874303


Column deleted in original DataFrame -

           W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509


Row E has been removed from original DataFrame -

           W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057


Selecting row A using loc -

 W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64


Selecting row A using iloc -

 W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64


Accessing data at row B and column Y -  -0.8480769834036315


Accessing data in rows A and B with columns W and Y -

           W         Y
A  2.706850  0.907969
B  0.651118 -0.848077


DataFrame where values are greater than 0 -

        W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True


To the above boolean DataFrame, here we get vales only to the True correspondent and None / NaN at the False ones -

           W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057


Some Operations of Conditionally selected DataFrame -

 A    0.907969
B   -0.848077
D   -0.933237
Name: Y, dtype: float64


Some Operations of Conditionally selected DataFrame -

           Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872


Some Operations of Conditionally selected DataFrame -

 Empty DataFrame
Columns: [W, X, Y, Z]
Index: []


Using reset_index() function -

   index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057


Using set_index() function -

                       W         X         Y         Z
Country Codes
CA             2.706850  0.628133  0.907969  0.503826
NY             0.651118 -0.319318 -0.848077  0.605965
WY            -2.018168  0.740122  0.528813 -0.589001
CO             0.188695 -0.758872 -0.933237  0.955057


Multi-Level DataFrame -

              A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646


Index Labels by default -  [None, None]


Index Labels after setting -  ['Groups', 'Num']


DataFrame -

                    A         B
Groups Num
G1     1    0.302665  1.693723
       2   -1.706086 -1.159119
       3   -0.134841  0.390528
G2     1    0.166905  0.184502
       2    0.807706  0.072960
       3    0.638787  0.329646


Accessing Cross Section of DataFrame where index label in Num and we want to access the values corresponding the index=1 -

                A         B
Groups
G1      0.302665  1.693723
G2      0.166905  0.184502

## Pandas - Missing Data

Methods to deal with missing data like Null or NaN values

In [10]:
import numpy as np
import pandas as pd

d = {'A':[1,2,np.nan], 'B':[5,np.nan,np.nan], 'C':[1,2,3]}
df = pd.DataFrame(d)
print("\n\nOriginal Dataframe - \n\n", df)

# to drop rows with null values
# have to provide inplace=True to make changes permanent
print("\n\nDropping rows with null values - \n\n", df.dropna())

# to drop columns with null values
# have to provide inplace=True to make changes permanent
print("\n\nDropping columns with null values - \n\n", df.dropna(axis=1))

# setting threshold while dropping
# have to provide inplace=True to make changes permanent
# in dropna(thresh=2) for example will keep those rows who have atleast 2 or more not Null values and drop the rest
print("\n\nDropping rows with a threshold of 2 - \n\n", df.dropna(thresh=2))

# filling the Null values with a filler
# have to provide inplace=True to make changes permanent
print("\n\nFilling the Null values with a filler - \n\n", df.fillna(value='Filler Value'))

Original Dataframe -

      A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3


Dropping rows with null values -

      A    B  C
0  1.0  5.0  1


Dropping columns with null values -

    C
0  1
1  2
2  3


Dropping rows with a threshold of 2 -

      A    B  C
0  1.0  5.0  1
1  2.0  NaN  2


Filling the Null values with a filler -

               A             B  C
0           1.0           5.0  1
1           2.0  Filler Value  2
2  Filler Value  Filler Value  3

## Pandas - Grouping (Groupby)

Groupby allows you to group together rows based off a column and perform some aggregate function on them just like in MySQL

In [18]:
import pandas as pd

data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'], 'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'], 'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
print("\n\nOriginal Dataframe - \n\n", df)

# now we can use the .groupby() method to group rows together based off a column name
# say we group based off the column Company
# this actually created a DataFrameGroupBy object which can be referenced to a normal variable and used as a new Dataframe
byComp = df.groupby('Company')

# now we can call certain aggregate methods off by_comp Dataframe
print("\n\nBy Company Count - \n\n", byComp.count())
print("\n\nBy Company Sum - \n\n", byComp.sum())

# a bunch of useful information is provided for the specific column using the .describe() method
print("\n\nDescribe Method - \n\n", byComp.describe())

Original Dataframe -

   Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350


By Company Count -

          Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2


By Company Sum -

              Person  Sales
Company
FB        CarlSarah    593
GOOG     SamCharlie    320
MSFT     AmyVanessa    464


Describe Method -

         Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

## Pandas - Merging, Joining and Concatenating

There are three main ways of combining Dataframes together in Pandas - Merging, Joining and Concatenating.

In [17]:
import pandas as pd

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

print("\n\nDataframe1 - \n\n", df1)
print("\n\nDataframe2 - \n\n", df2)
print("\n\nDataframe3 - \n\n", df3)

# concatenation of dataframes
# it basically glues together dataframes
# the dimensions should match along the axis on which we are concatenating otherwise we land up with NaN values
# we can use pd.concat and pass in a list of dataframes to concatenate together
print("\n\nConcatenating on rows - \n\n", pd.concat([df1, df2, df3]))
print("\n\nConcatenating on columns - \n\n", pd.concat([df1, df2, df3], axis=1))

left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

print("\n\nNew dataframe (left) - \n\n", left)
print("\n\nNew dataframe (right) - \n\n", right)

# merging of dataframes
# the merge function allows us to merge dataframes together using a similar logic as MySQL
print("\n\nMerging left and right dataframes on column key - \n\n", pd.merge(left, right, how='inner', on='key'))

leftComplex= pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
rightComplex = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

print("\n\nNew complex dataframe (left) - \n\n", leftComplex)
print("\n\nNew complex dataframe (right) - \n\n", rightComplex)

print("\n\nComplex dataframes merge based on multiple keys - \n\n", pd.merge(leftComplex, rightComplex, on=['key1', 'key2']))

leftJoin = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

rightJoin = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

print("\n\nNew dataframe for joining (leftJoin) - \n\n", leftJoin)
print("\n\nNew dataframe for joining (rightJoin) - \n\n", rightJoin)

# joining of dataframes
# joining is a convenient method for combining the columns of two potentially differently-indexed dataframes into a single result dataframe
print("\n\nleftJoin.join(rightJoin) - \n\n", leftJoin.join(rightJoin))
print("\n\nleftJoin.join(rightJoin, how='outer) - \n\n", leftJoin.join(rightJoin, how='outer'))

Dataframe1 -

     A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3


Dataframe2 -

     A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7


Dataframe3 -

       A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11


Concatenating on rows -

       A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11


Concatenating on columns -

       A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11


New dataframe (left) -

   key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3


New dataframe (right) -

   key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3


Merging left and right dataframes on column key -

   key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3


New complex dataframe (left) -

   key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3


New complex dataframe (right) -

   key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3


Complex dataframes merge based on multiple keys -

   key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2


New dataframe for joining (leftJoin) -

      A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2


New dataframe for joining (rightJoin) -

      C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3


leftJoin.join(rightJoin) -

      A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2


leftJoin.join(rightJoin, how='outer) -

       A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3