In [ ]:
import pandas as pd
import numpy as np

In [ ]:
## reading the data from github
data = pd.read_csv('train.csv')

In [ ]:
data

PassengerId	Unique identifier of each passenger
Survived	Whether the passenger survived
(0 = No, 1 = Yes)

Pclass	Ticket class
(1 = 1st class, 2 = 2nd class, 3 = 3rd class)

Name-	Name of the passenger, title of the passenger is also included
Gender-	Male/female
Age	-   Age in years
SibSp-	# of siblings / spouses aboard the Titanic
Parch-	# of parents / children aboard the Titanic
Ticket-	Ticket number
Fare-	Fare amount
Cabin-	Cabin number
Embarked-	Port of embarkation (port from which the ship depart)
(C = Cherbourg, Q = Queenstown, S = Southampton)

https://monicawongds.wordpress.com/2018/01/20/predicting-the-survival-of-titanic-passengers-part-1/

In [ ]:
##checking the head part
data.head()

In [ ]:
## checking the tail part
data.tail(3)

In [ ]:
## Information about dataframe
data.info()

In [ ]:
## Describe give statistical information of numerical data
data.describe()

In [ ]:
# statistical information for categorical data (represented as 'O' ie., object)
data.describe(include='O')

In [ ]:
## Getting the column names
data.columns

In [ ]:
data.head()

In [ ]:
data.Survived.unique() ## Unique represents how many unique labels are present in the feature

In [ ]:
## unique ## categorical data and discrete

data.Gender.unique() ## give the unique label

In [ ]:
## gves the count of unique values
data.Gender.value_counts()

In [ ]:
data.Pclass.value_counts()

In [ ]:
data.Cabin.value_counts()

In [ ]:
## getting the specific column from the dataframe
data['Survived']

In [ ]:
data

In [ ]:
pd.set_option('display.max_rows',None) ## displaying all rows

In [ ]:
data

In [ ]:
pd.reset_option('display.max_rows',None)

In [ ]:
data

In [ ]:
pd.set_option('display.max_columns',None) ## display all columns

In [ ]:
## getting multiple columns
data[['Survived','Age','Gender']]

In [ ]:
## want new dataframe which will have columns from  data
d1=data[['Survived','Age','Gender']]

In [ ]:
d1

In [ ]:
##getting specific rows from a specific column
d1[15:30]

In [ ]:
data.head()

In [ ]:
data.iloc[15:30,1:8]

In [ ]:
data.head()

In [ ]:
data.loc[1:6, ['Gender']]

In [ ]:
## searching specific values from dataframe
data.loc[data['Gender']=='female']

In [ ]:
## task:-Get all passenger details whose age is greater than 50

In [ ]:
data.loc[(data['Gender']=='female') & (data['Age']<38)]

In [ ]:
## write the or condition
d1

In [ ]:
d1.loc[d1['Survived']==1]

In [ ]:
data.loc[(data['Gender']=='female') & (data['Age']==22)]

In [ ]:
data.loc[(data['Gender']=='female') | (data['Age']==22)]

In [ ]:
data.head()

In [ ]:
data.loc[(data['Gender']=='female') & (data['Age']<38) | (data['Fare']<20)]

In [ ]:
data.loc[(data['Gender']=='female') & (data['Age']<10) | (data['Fare']<20)]

In [ ]:
data.head()

In [ ]:
## when se will not makyou want to set any specific column as index
data.set_index('Gender', inplace=True) #  will make changes  in original dataframe  

## by default--> inplace=False

In [ ]:
data.head(10)

In [ ]:
data.reset_index(inplace=True)

In [ ]:
data.head()

In [ ]:
## Creating new column 
data['DS']='Data Science'

In [ ]:
data.head()

In [ ]:
## Dropping of the column
data.drop('DS',axis=1)  ## axis=0 will refer to row and axis=1 will refer to column

In [ ]:
data.head()

In [ ]:
data.drop(['DS'],axis=1,inplace=True)
data.head()

In [ ]:
data

In [ ]:
## Dropping the row
data.drop(1,axis=0) #inplace=True - for removing permanently

In [ ]:
## Dropping the multiple row
data.drop([1,2,8,96,85],axis=0)

In [ ]:
## copy as backup
new_data=data.copy()

In [ ]:
new_data

In [ ]:
data.head()

In [ ]:
## creating new column using existing coulmns
data['Family']=data['SibSp'] + data['Parch']

In [ ]:
data.head()

## Missing Values

In [ ]:
## counting the missing values
data.isnull().sum()

In [ ]:
## getting the indexes of rows where values are missing in specific column
missing=np.where(data['Age'].isnull()==True)

In [ ]:
missing

In [ ]:
##getting the actual data from the indexes
data.iloc[missing]

In [ ]:
## getting missing values by loc function
data.loc[data['Age'].isnull()==True]

In [ ]:
## Handling the missing values
## 1)Imputation  2)Dropping

In [ ]:
## Fillna
data.fillna(value='MISSING')

In [ ]:
data['Age'].mean()

In [ ]:
data.fillna(value=data['Age'].mean())

In [ ]:
data

In [ ]:
data.fillna(method='ffill')

In [ ]:
data

In [ ]:
##Using loc function to impute missing on a specific column

data.loc[data['Age'].isnull()==True,'Age']= 29

In [ ]:
data

In [ ]:
data.Cabin.isnull().sum()

## Sorting the dataframe

In [ ]:
data.head()

In [ ]:
## arranging
data.sort_values('Pclass', ascending=False, ignore_index=True)

In [ ]:
data.sort_values(by=['Age','Pclass'],ascending=[1,0])

## Grouping the data

In [ ]:
data.groupby(data['Pclass']).count()

In [ ]:
data.groupby(data['Pclass']).max('Fare')

In [ ]:
data.groupby(data['Pclass']).agg({'Fare':'max'})

In [ ]:
data.groupby(data['Gender']).mean()

## Changing the datatype

In [ ]:
data.info()

In [ ]:
data['Age']=data.Age.astype('float16')

In [ ]:
data.info()

In [ ]:
data['Age'] = data.Age.astype('object')

In [ ]:
data.info()

In [ ]:
data['Age'] = data.Age.astype('float32')

In [ ]:
data['Fare']=pd.to_numeric(data.Fare,downcast='float')

In [ ]:
data.info()

In [ ]:
data['Parch'] = pd.to_numeric(data.Parch,downcast='integer')

In [ ]:
data['Name'] = data.Name.astype('int')

In [ ]:
data.info()

In [ ]:
data.info()

## Joining the dataframe

In [ ]:
df1=pd.DataFrame({'A':['A0','A1','A2','A3','A4','A5'],
                 'B':['B0','B1','B2','B3','B4','B5'],
                'C':['C0','C1','C2','C3','C4','C5'],
                'D':['D0','D1','D2','D3','D4','D5']})

In [ ]:
df1

In [ ]:
df2=pd.DataFrame({'E':['A0','A1','A2','A3','A4','A5'],
                 'F':['B0','B1','B2','B3','B4','B5'],
                'G':['C0','C1','C2','C3','C4','C5'],
                'H':['D0','D1','D2','D3','D4','D5']})

In [ ]:
df2

In [ ]:
## when 2 dataframe have same columns and we need to just append the row
pd.concat([df1,df2],axis=0, ignore_index=True)

In [ ]:
## When 2 dataframe and have same column and want 
##   to append according to columns

pd.concat([df1,df2],axis=1)

In [ ]:
#pip install --upgrade pandas