In [1]:
import pandas as pd
import numpy as np

In [2]:
## reading the csv file
d1=pd.read_csv('ex1.csv')

In [3]:
d1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
## reading the csv file
d1=pd.read_csv('ex1.csv',header=None)

In [5]:
d1

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [6]:
pwd

'C:\\Users\\Hi\\Data Science\\CDS Updated march22\\Pandas\\Examples for file reading-02'

In [11]:
## passing the absolute path
d2=pd.read_csv(r"C:\Users\Hi\Data Science\ex3.csv")

In [12]:
d2

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491

In [ ]:
## reading tab separated 
d3=pd.read_table('test.tsv')

In [ ]:
d3

In [ ]:
## reading tab separated file with csv 
d4=pd.read_csv('test.tsv',sep='\t')

In [ ]:
d4

In [ ]:
d5=pd.read_csv('ex7.csv',sep='*', header=None)

In [ ]:
d5

In [ ]:
type(d5)

In [ ]:
d1

In [ ]:
d1.head() ## first five rows from the dataframe

In [ ]:
d1.tail() ## last 5 rows of the dataframe.

In [ ]:
## Checking null or NAN or na-->
##considered as missing values in ML

d6=pd.read_csv('ex5.csv')

In [ ]:
d6 # row, records, observations, data points

In [ ]:
d6.isnull() # will give true or false

In [ ]:
## getting the total number of null present 
## in particular column
d6.isnull().sum()

In [ ]:
# treats the passed value as NAN
d7=pd.read_csv('ex5.csv',na_values=['three']) # not available --> null value

In [ ]:
d7

In [ ]:
## Reading the excel file
d10=pd.read_excel('ex1.xlsx')

In [ ]:
d10

In [ ]:
d11=pd.read_excel('ex1.xlsx',sheet_name='XYA')

In [ ]:
d11

In [ ]:
pwd

In [ ]:
## reading html data
d1 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015.html')

In [ ]:
type(d1)

In [ ]:
len(d1)

In [ ]:
d1

In [ ]:
data = d1[0]
type(data)

In [ ]:
data

In [ ]:
d1[3]

In [ ]:
d2=pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [ ]:
type(d2)

In [ ]:
data1 = d2[0]

In [ ]:
data1

In [ ]:
## reading json file
d3=pd.read_json('example.json')

In [ ]:
d3

In [ ]:
d2

In [ ]:
## saving data
D1=d2[0]
type(D1)

In [ ]:
#D2=D1.to_csv('htmldata.csv')
D1.to_csv('htmlfile.csv')